<ion-header>
    <ion-segment color="primary" [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="day">
            <ion-label>Today</ion-label>
        </ion-segment-button>
        <ion-segment-button value="week">
            <ion-label>This Week</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <ion-slides  #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
        <ion-slide>
          <app-movie-card [movies]="todayShows" [imgUrl]="imgUrl" [imgSize]="imgSize"></app-movie-card>
        </ion-slide>
        <ion-slide>
          <app-movie-card [movies]="weekShows" [imgUrl]="imgUrl" [imgSize]="imgSize"></app-movie-card>
        </ion-slide>
      </ion-slides>
</ion-content>