<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" size="large">Student Portal</ion-title>
    <ion-buttons slot="end">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>Public User</span>
        </button>
        <a mat-menu-item [routerLink]="'/home'">
          <mat-icon>home</mat-icon>
          <span>Dashboard</span>
        </a>
      </mat-menu>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>