<ion-grid>
    <ion-row>
        <ion-col>
            <ion-item lines="none">
                <ion-thumbnail slot="start">
                    <img [src]="'assets/image/teacher.png'">
                </ion-thumbnail>
                <h2>Teacher Registration</h2>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item class="ion-margin-vertical">
                    <ion-label position="floating">Mobile Number</ion-label>
                    <ion-input type="number" [(ngModel)]="registerForm.mobile" name="mobile"></ion-input>
                </ion-item>
                <ion-item class="ion-margin-vertical">
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" [(ngModel)]="registerForm.password" name="password"></ion-input>
                </ion-item>
                <ion-button class="ion-margin-vertical" expand="block" color="danger" (click)="onRegisterClick()">Register</ion-button>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>