<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back-outline" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Home work</ion-title>
        <ion-buttons slot="end">
            <ion-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
            </ion-button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>account_box</mat-icon>
                    <span>Demo User</span>
                </button>
                <a mat-menu-item [routerLink]="'/home'">
                    <mat-icon>home</mat-icon>
                    <span>Dashboard</span>
                </a>
                <button mat-menu-item>
                    <mat-icon>directions_run</mat-icon>
                    <span>Log out</span>
                </button>
            </mat-menu>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header class="ion-text-center">
            <ion-label class="f-bold">Recent Home works (Slide list for more option)</ion-label>
        </ion-list-header>
        <ion-item-sliding *ngFor="let item of homeWorks$ | async">
            <ion-item-options side="start">
                <ion-item-option color="primary" (click)="onEditClick(item)">
                    <span class="material-icons">edit</span>
                </ion-item-option>
            </ion-item-options>
            <ion-item>
                <div>
                    <ion-label class="f-bold">{{item.title}}</ion-label>
                    <ion-text class="f-italic">{{item.description}}</ion-text>
                </div>
                <ion-note slot="end" class="ml1em">
                    <ion-label>
                        <ion-badge color="success" class="mr1em">{{item.grade}} Grade</ion-badge>
                        <ion-badge color="primary">{{item.subject}}</ion-badge>
                    </ion-label>
                    <ion-text>{{ item.date | date:'medium' }}</ion-text>
                </ion-note>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="onDeleteClick(item)">
                    <span class="material-icons">delete_forever</span>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" [routerLink]="['../','home-work-add']">
            <ion-icon name="add-sharp"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>