<ion-header>
  <ion-toolbar color="light">
    <ion-avatar slot="start">
      <img [src]="'assets/image/graduation-cap.png'">
    </ion-avatar>
    <ion-title class="ion-text-center">School Panel</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card button="true" class="m0px" (click)="onStudentPortalClick()">
          <ion-card-header>
            <ion-img [src]="'assets/image/student-512_512.png'"></ion-img>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <h3>Student Portal</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card button="true" class="m0px" (click)="onTeacherPortalClick()">
          <ion-card-header>
            <ion-img [src]="'assets/image/teacher.png'"></ion-img>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <h3>Teacher Portal</h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card button="true" class="m0px" (click)="onSchoolPortalClick()">
          <ion-card-header>
            <ion-img [src]="'assets/image/graduation-cap.png'"></ion-img>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <h3>School Portal <ion-badge color="danger">Coming soon</ion-badge></h3>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger" (click)="onExitClick()">
      <ion-icon name="close-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onSchoolPortalClick()">
      <ion-icon name="arrow-forward-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>